.ipynb_checkpoints/
__pycache__/

# Folders
best_models/
results/
models/
wandb/
nbdata/
logs/
img/
artifacts/
dataset/TDC/dti_dg_group/
dataset/EnzPred
dataset/TDC/ProtBert_features.h5
dataset/DAVIS/ProtBert_features.h5
dataset/DAVIS/ProtBert_features.h5.bak
dataset/BingdingDB_v2/
dataset/BindingDB_multi_class
dataset/BindingDB_multi_class_small
# File Types
**/**.pk
**/**.h5
**/**.jupyterlab-workspace

# Large files
dataset/DUDe/full.tsv
dataset/DUDe/full_OLD.tsv
large_scale_run.tsv
dataset/TDC/
