pysmiles
mol2vec @ git+https://github.com/samoturk/mol2vec
torchmetrics
wandb
omegaconf
rdkit
#pip install  dgl -f https://data.dgl.ai/wheels/torch-2.1/repo.html
torch_geometric
PyTDC
dscript
pysmiles
deepchem
pytorch_lightning